<launch>

  <arg name="broker_addr" default="10.130.0.14"/>
  <arg name="broker_port" default="1883"/>

  <node name="cams_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
	<rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
	<rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
    <rosparam file="$(find external_cams)/config/axis_mqtt_srvr.yaml" command="load" />
  </node>

  <include file="$(find axis_camera)/launch/axis.launch">
    <arg name="hostname" value="axis-b8a44f154322-2.local"/>
    <arg name="username" value="Viewer"/>
    <arg name="password" value="viewer"/>
    <arg name="camera_name" value="cam_1"/>
    <arg name="camera" value="1"/>
  </include>

</launch>
