<launch>

	<!-- AUV model -->
	<arg name="namespace" default="lolo_auv"/>
	<!-- Index of the AUV to be launched -->
	<arg name="number" default="3"/>
	<!-- Use the navigation stack or the GT from Gazebo -->
	<arg name="navigation_on" default="true"/>

    <!-- Launch AUV -->
	<include file="$(find smarc_private_auvs)/models/$(arg namespace)/launch/upload_$(arg namespace).launch">
		<arg name="namespace" value="$(arg namespace)_$(arg number)"/>
		<arg name="navigation_on" value="$(arg navigation_on)"/>
		<!-- Initial pose of the AUV -->
		<arg name="x" value="10"/>
		<arg name="y" value="20"/>
		<arg name="z" value="-90.0"/>
		<arg name="roll" value="0.0"/>
  		<arg name="pitch" value="0.0"/>
		<arg name="yaw" value="0.0"/>
	</include>

</launch>