<launch>


	<!-- Mode flags -->
	<arg name="namespace" default="lolo_auv"/>
	<arg name="navigation_on" default="true"/>
	<arg name="gazebo_env" default="random_rocks"/>

	<!-- Initial position of the AUV -->
	<arg name="x" default="0.0"/>
	<arg name="y" default="10.0"/>
	<arg name="z" default="-30.0"/>
	<arg name="yaw" default="0.0"/>
	
	<!-- Underwater scenario for Gazebo -->
	<include file="$(find smarc_worlds)/launch/$(arg gazebo_env).launch"/>

	<!-- Launch AUV -->
	<include file="$(find smarc_private_auvs)/models/$(arg namespace)/launch/upload_$(arg namespace).launch">
		<arg name="namespace" value="$(arg namespace)"/>
		<arg name="x" value="$(arg x)"/>
		<arg name="y" value="$(arg y)"/>
		<arg name="z" value="$(arg z)"/>
		<arg name="yaw" value="$(arg yaw)"/>
	</include>


	<!-- Publishes: - tf world to odom based on initial pose of the AUV 
					- Ground truth pose in odom frame
					- if navigation_on = false, it also publishes the odom tf -->
    <node pkg="odom_tf_bc" name="odom_tf_bc_node" type="odom_tf_bc_node" output="screen">
		<param name="gt_topic" value="/$(arg namespace)/pose_gt"/>
		<param name="parent_frame" value="world"/>
		<param name="child_frame" value="odom"/>
		<param name="base_frame" value="$(arg namespace)/base_link"/>
		<param name="bc_odom_tf" value="$(arg navigation_on)"/>
		<param name="gt_odom_topic" value="gt_in_odom"/>
    </node>


	<!-- Control components -->
	<node pkg="smarc_keyboard_teleop" type="$(arg namespace)_teleop.py" name="$(arg namespace)_teleop" output="screen"/>
	
	<!-- Navigation components -->
  	<include if="$(arg navigation_on)" file="$(find auv_ekf_localization)/launch/ekf_localization.launch">
  		<arg name="namespace" value="$(arg namespace)"/>
	</include>

</launch>
