<launch>

	<arg name="namespace" default="lolo_auv"/>
	<!-- <arg name="type" default="2"/> -->
	<arg name="navigation_on" default="true"/>

    <!-- Launch AUV -->
    <!-- Instantiate this file as many times as AUVs are to be launched -->
	<include file="$(find smarc_private_auvs)/models/$(arg namespace)/launch/upload_$(arg namespace).launch">
		<!-- Change the final digit according to the AUV number-->
		<arg name="namespace" value="$(arg namespace)_1"/>
		<!-- Initial position of the AUV -->
		<arg name="x" value="10"/>
		<arg name="y" value="10"/>
		<arg name="z" value="-90.0"/>
		<arg name="roll" value="0.0"/>
  		<arg name="pitch" value="0.0"/>
		<arg name="yaw" value="0.0"/>
	</include>

	<!--   <node pkg="smarc_keyboard_teleop" type="$(arg namespace)_teleop.py" name="$(arg namespace)_teleop" output="screen"/> -->

</launch>