<launch>

	<!-- Mode flags -->
	<arg name="gazebo_env" default="random_rocks"/>

	<!-- Underwater scenario for Gazebo -->
	<include file="$(find smarc_worlds)/launch/$(arg gazebo_env).launch"/>

    <!-- Publishes objects populations the Gazebo scenario on RVIZ for visualization -->
    <node pkg="smarc_lm_visualizer" name="landmark_visualizer_node" type="landmark_visualizer_node" output="screen">
    	<param name="map_srv" value="/gazebo/get_world_properties"/>
		<param name="landmarks_srv" value="/gazebo/get_model_state"/>
    </node>

</launch>
