<launch>

	<!-- AUV model -->
	<arg name="namespace" default="lolo_auv"/>
	<!-- Index of the AUV to be launched -->
	<arg name="number" default="1"/>
	<!-- Use the navigation stack or the GT from Gazebo -->
	<arg name="navigation_on" default="true"/>
	<!-- Initial pose of the AUV -->
	<arg name="x" default="30"/>
	<arg name="y" default="0"/>
	<arg name="z" default="-90"/>
	<arg name="roll" default="0.0"/>
	<arg name="pitch" default="0.0"/>
	<arg name="yaw" default="0.0"/>

	<!-- Control components -->
	<include file="$(find auv_controllers)/launch/auv_controllers.launch">
	  	<arg name="namespace" value="$(arg namespace)_$(arg number)"/>
	</include>

	<!-- Perception components  -->
	<include file="$(find auv_sensors)/launch/auv_sensors.launch">
	  	<arg name="namespace" value="$(arg namespace)_$(arg number)"/>
	</include>

	<!-- AUV -->
	<include file="$(find smarc_bringup)/launch/auv_model.launch">
		<arg name="namespace" value="$(arg namespace)"/>
		<arg name="number" value="$(arg number)"/>
		<arg name="navigation_on" value="$(arg navigation_on)"/>
		<arg name="x" value="$(arg x)"/>
		<arg name="y" value="$(arg y)"/>
		<arg name="z" value="$(arg z)"/>
		<arg name="roll" value="$(arg roll)"/>
  		<arg name="pitch" value="$(arg pitch)"/>
		<arg name="yaw" value="$(arg yaw)"/>
	</include>

</launch>